{% extends "base.html" %}
{% block title %}
  Об авторе проекта
{% endblock title %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Моё знакомство с программированием началось с простого любопытства.
    Решил попробовать, что это за зверь такой. Стал искать с чего начать и 
    под руки попался JavaScript. Самое простое для начала - пишешь в блокноте и 
    запускаешь в браузере.Начал и дело пошло. Решил сделать что то серьёзное и 
    накодил игру "Крестики - нолики". Логика была просто волшебная))). Велосипед
    на костылях. Но можно было играть одному с компьютером). Правда выглядело это
    не очень красиво, даже жуть как) Вот это отсутствие тяги к прекрасному или 
    может, отсутствие чувства стиля меня и повернуло в сторону бэкенда.
  </p>
  <p>
    Я переключился на изучение node.js, а именно фреймворка Express.js. Всё шло
    хорошо. Сделал учебный REST API с mongooDB. Но стал задумываться о 
    приземлённых вещах, о трудоустройстве.) И как оказалось, тогда было мало 
    вакансий на node.js. И я решил перейти на Python.
  </p>
  <p>
    Начал изучение с самых основ с М. Лутца. Хорошый монументальный труд.
    Потом сделал несколько проектов для своих нужд. Потом ещё немного...
    Пробовал разные бесплатные курсы. Ну а сейчас прохожу обучение на курсу 
    бэкенд разработки в Яндекс Практикуме.
  </p>
  <p>
    Вот мой github: https://github.com/SaPer663
  </p>
  <p>
  Telegram: @saper663
  </p>
{% endblock content %}
