{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock title %}
{% block content %}
  <div class="mb-5">
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего постов: {{ page_obj.paginator.count }} </h3>
    {% if user.is_authenticated and author != user %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}"
          role="button"
        >
          Отписаться
        </a>
      {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}"
            role="button"
          >
            Подписаться
          </a>
      {% endif %}
    {% endif %}
  </div>
  {% for post in page_obj %} 
    <article>
      <ul>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }} 
        </li>
      </ul>
      {% thumbnail post.image '960x338' unscale=True as im %}
        <img class="card-img my-2" 
          src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      <p>
        {{ post.text|linebreaks }} 
      </p>
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
    </article>
    {% if post.group %}       
      все записи группы: 
      <a href="{% url 'posts:group_list' post.group.slug %}">
        {{ post.group.title }}
      </a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}    
{% endblock content %}
